{
    "root": true,
    "extends": ["eslint:recommended", "next"],
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "semi": "off",
        "no-unused-vars": "warn",
        "no-console": "off",
        "import/extensions": "off",
    },
    "env": {
        "es6": true,
    },
    "overrides": [
        {
            "files": ["src/**/*.{js,jsx}"],
            "settings": {
                "import/resolver": {
                    "node": {
                        "paths": ["src"],
                        "extensions": [".js", ".jsx", ".ts", ".tsx"],
                    },
                },
            },
            "rules": {},
        },
        {
            "files": ["app/**/*.{js,jsx}"],
            "extends": ["airbnb", "eslint-config-airbnb-base", "prettier"],
            "rules": {
                "prettier/prettier": ["error"],
                "max-len": ["error", { "code": 150 }],
            },
            "parserOptions": {
                "ecmaVersion": 2022,
            },
            "env": {
                "es6": true,
                "node": true,
            },
            "plugins": ["prettier", "node"],
        },
    ],
}
