{
    "extends": ["airbnb-base", "eslint-config-airbnb-base", "prettier"],
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "semi": "off",
        "prettier/prettier": ["error", { "endOfLine": "auto" }],
        "no-unused-vars": "warn",
        "max-len": ["error", { "code": 150 }],
        "no-console": "off",
        "import/extensions": "off"
    },
    "parserOptions": {
        "ecmaVersion": 2022,
        "sourceType": "module"
    },
    "env": {
        "es6": true,
        "node": true
    },
    "ignorePatterns": ["app/data/", "app/storage/", "app/logs/"],
    "plugins": ["import", "prettier", "node"]
}
